.container {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
    margin-top: 2em;
    padding-top: 1em;
}
.header {
    text-align: center;
}
.body {
    display: flex;
}

.directory {
    width: 75%;
}

.element {
    white-space: pre;
    text-align: left;
}

.search {
    width: 25%;
}